@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1 {
    color: #0056b3;    
    font-size: 3em;     
    text-align: center; 
}

p {
    margin: 15px 0;
}

h2 {
    color: purple;            
    background-color: #eeeeee; 
    padding: 10px;            
    margin-top: 20px;
    text-align: center;
}

ul {
    text-align: center;
}

.lista-cores {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.lista-cores li {
    flex-basis: 50%;
    box-sizing: border-box;
}

li {
    list-style-type: none; 
    color: #555;           
    margin-top: 10px;  
}


